body {
  margin: 0;
  font-family: "Open Sans Condeset", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //so padding and borders dont throw off the dimensions of the component we have defined
  //adjustign padding or borders without affecting the overall layout or breaking out of container boundaries.
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
